@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* .container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
} */

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

/* HEADER */
.container {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(67, 67, 68);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  font-size: 12px;
  font-weight: 50%;
  color: rgb(218, 218, 218);
  padding: 1.1rem;
}

/* CONTAINER TWO */
.container-two {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.content {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 16px;
  color: rgb(29, 29, 31);
}

.shop-iphone {
  color: rgb(41, 151, 255);
}

/* CONTAINER-THREE */
.container-three {
  width: 100%;
  height: 580px;
  position: relative;
}

.image-one {
  width: 100%;
  max-height: 580.5px;
  object-fit: cover;
}

.image-1-text {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 39%;
  line-height: 3rem;
}

.iphone-14-pro {
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
}

.pro {
  font-size: 1.7rem;
  font-weight: 400;
}

.learn-more {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(41, 151, 255);
}

/* CONTAINER-FOUR */
.container-four {
  width: 100%;
  height: 603px;
}

.container-three {
  width: 100%;
  max-height: 603px;
  position: relative;
}

.image-one {
  width: 100%;
  height: 603px;
  object-fit: cover;
}

.image-2-text {
  color: black;
  position: absolute;
  text-align: center;
  top: 6.6%;
  left: 42%;
  line-height: 3rem;
}

.iphone-14 {
  font-size: 3.2rem;
  font-weight: 600;
}

.wonderfull {
  font-size: 1.7rem;
  font-weight: 400;
}

.learn-more-2 {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(41, 151, 255);
}

/* CONTAINER-FIVE */
.container-five {
  width: 100%;
  height: 580px;
  position: relative;
}

.image-three {
  width: 100%;
  height: 580.5px;
  object-fit: cover;
}

.image-3-text {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 41%;
  line-height: 2.3rem;
}

.iwatch {
  font-size: 2.5rem;
  font-weight: 600;
}

.series-8 {
  color: rgb(188, 30, 35);
  font-size: 1.3rem;
}

.leap-ahead {
  font-size: 1.7rem;
  font-weight: 200;
}

.learn-more-3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(41, 151, 255);
}

/* CONTAINER-SIX */
.container-six {
  width: 100%;
  height: auto;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}

.box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.box {
  width: 742px;
  height: 580px;
  /* border: 2px solid black; */
  position: relative;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-4-text {
  color: black;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 30%;
  line-height: 2.5rem;
}

.trade-in {
  font-weight: bold;
  font-size: 2.5rem;
  font-weight: 400;
}

.upgrade {
  font-size: 1.2rem;
  font-weight: 400;
}

.device-worth {
  color: rgb(0, 102, 204);
}

.image-5-text {
  color: #fff;
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 25%;
  line-height: 2.2rem;
}

.WWDC23 {
  font-weight: bold;
  font-size: 2.5rem;
  font-weight: 500;
}

.worldwide {
  font-size: 1.2rem;
  font-weight: 400;
}

.learn-more-two {
  color: rgb(0, 102, 204);
}

.image-7-text {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 8%;
  left: 31%;
  line-height: 2.3rem;
}

.apple-for {
  font-weight: bold;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
}

.easy-powerful {
  font-size: 1.2rem;
  font-weight: 400;
}

.device-worth {
  color: rgb(0, 102, 204);
}

/* SLIDER */
.slider {
  height: 666px;
  margin: auto;
  position: relative;
  width: 1250px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(1250px * 11);
}

.slide {
  height: 666px;
  width: 1250px;
  display: flex;
  align-items: center;
  padding: 15px;
}

img {
  width: 100%;
}

/* CONTAINER-SEVEN */
.container-seven {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-7 {
  width: 980px;
  height: auto;
}

.seven-para {
  font-size: 12px;
  text-align: start;
  padding-top: 1rem;
}

.line-break {
  padding-top: 1rem;
}

/* CONTAINER-EIGHT */
.container-eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-8 {
  width: 980px;
  height: auto;
  padding-bottom: 1rem;
}

.container-8-sub-box {
  display: flex;
  flex-direction: row;
}

.shop-learn {
  width: 196px;
  height: auto;
}

.account {
  width: 196px;
  height: auto;
}

.apple-store {
  width: 196px;
  height: auto;
}

.for-business {
  width: 196px;
  height: auto;
}

.apple-values {
  width: 196px;
  height: auto;
}

.headings {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding-top: 1rem;
  line-height: 24px;
}

.paragraph {
  font-size: 12px;
  /* padding-top: 1rem; */
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.footer-topic {
  color: black;
}

.before-footer-container {
  width: 980px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
}

.copy-right-before-footer {
  width: 100%;
  font-size: 12px;
  color: black;
}

.footer-link {
  color: rgb(0, 102, 204);
  text-decoration: underline;
}

/* FOOTER START */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.copy-right-container {
  width: 980px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.copy-right {
  width: 100%;
  font-size: 12px;
  color: black;
}

.icons-container {
  width: 980px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.icon-link {
  font-size: 12px;
  color: black;
}

.icon-list-2 {
  width: 19.5%;
}
/* FOOTER END */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
